    /**
{% block phpdoc_method_header %}
     * Cria uma nova entidade de {{ entity }}.
    * @param Request $request Entidade mapeada
    * @return Object
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}_create")
     * @Method("POST")
     * @Template("{{ bundle }}:{{ entity }}:new.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function createAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
    $em = $this->getDoctrine()->getManager();
    $entity = new {{ entity }}();
    $form = $this->get('core.form')->createForm($entity, $this->createRoute, 'POST', new {{ entity }}Type());
        $form->handleRequest($request);
        if ($form->isValid()) {
            $em->persist($entity);
            $em->flush();
    $this->get('session')->getFlashBag()->add('success', 'Cadastro realizada com sucesso.');
    return $this->redirect($this->generateUrl('{{ entity }}'));
    } else {
        return $this->render($this->addressRepository . ':new.html.twig', [
        'entity' => $entity,
        'errors' => $form->getErrors(true),
        'form' => $form->createView(),
    ]);
        }
{% endblock method_body %}
    }
