    /**
{% block phpdoc_method_header %}
     * Deleta uma entidade {{ entity }}.
    * @param Id $id da Entidade mapeada
    * @param Request $request Entidade mapeada
    * @return Object View para renderização
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Method("DELETE")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
        $entity = $em->getRepository($this->addressRepository)->find($id);
        $form = $this->get('core.form')->createForm($entity, $this->deleteRoute, 'DELETE');
        $form->handleRequest($request);
        if ($form->isValid()) {
            $em->remove($entity);
            $em->flush();
            $this->get('session')->getFlashBag()->add('success', 'Exclusão realizada com sucesso.');
        }
{% endblock method_body %}

{% block method_return %}
        return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
{% endblock method_return %}
    }
