
    /**
{% block phpdoc_method_header %}
     * Exibe formulário de edição para a entidade {{ entity }}.
    * @param Id $id da Entidade mapeada
    * @return Object View para renderização
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction($id)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
    $entity = $em->getRepository($this->addressRepository)->find($id);
    $editForm = $this->get('core.form')->createForm($entity, $this->updateRoute, 'PUT', new {{ entity }}Type());
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
    return [
        'entity' => $entity,
        'edit_form' => $editForm->createView()
    ]);
{% else %}
        return $this->render($this->addressRepository . ':edit.html.twig', [
        'entity' => $entity,
        'edit_form' => $editForm->createView()
    ]);
{% endif %}
{% endblock method_return %}
    }
