
    /**
{% block phpdoc_method_header %}
     * Exporta um arquivo excel contendo a relação de registro da entidade {{ entity }}.
    * @return Lista carregada com objetos da entidade.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/excel", name="{{ route_name_prefix }}_excel")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function excelAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
{% endblock method_body %}

{% block method_return %}
        return $phpExcelObject = $this->get('core.export')->exportExcel(
        $this->institutionalTitle,
        $this->institutionalSubscription,
        $em->getRepository($this->addressRepository)->findAll()
    );
{% endblock method_return %}
    }
