
    /**
{% block phpdoc_method_header %}
     * Lista todos os registros da entidade {{ entity }}.
    * @param Request $request Entidade mapeada
    * @return Object
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $pagination = $this->get('core.pagination')->build($request, $this->addressRepository, ['nome']);
        if (count($pagination) == 0) {
        $this->get('session')->getFlashBag()->add('danger', 'Nenhum registro encontrado');
    }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
    return [
        'pagination' => $pagination,
        'deleteForms' => $this->get('core.form')->createDeleteForms($this->addressRepository, $this->deleteRoute)
    ]);
{% else %}
        return $this->render($this->addressRepository . ':index.html.twig', [
        'pagination' => $pagination,
        'deleteForms' => $this->get('core.form')->createDeleteForms($this->addressRepository, $this->deleteRoute)
    ]);
{% endif %}
{% endblock method_return %}
    }
