
    /**
{% block phpdoc_method_header %}
     * Exibe o formulário de criação de uma nova entidade {{ entity }}.
    * @return Object View para renderização
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function newAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $entity = new {{ entity_class }}();
        $form = $this->get('core.form')->createForm($entity, $this->createRoute, 'POST', new {{ entity_class }}Type());
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
    return [
        'entity' => $entity,
        'form' => $form->createView()
    ));
{% else %}
    return $this->render($this->addressRepository . ':new.html.twig', array(
        'entity' => $entity,
        'form' => $form->createView()
    ));
{% endif %}
{% endblock method_return %}
    }
