
    /**
{% block phpdoc_method_header %}
     * Exporta um arquivo pdf da relação de registro da entidade {{ entity }}.
    * @return Lista carregada com objetos da entidade.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/pdf", name="{{ route_name_prefix }}_pdf")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function pdfAction()
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
{% endblock method_body %}

{% block method_return %}
        return $this->container->get('core.export')->exportPdf($this->institutionalTitle,
        $this->institutionalSubscription,
        $em->getRepository($this->addressRepository)->findAll()
    );
{% endblock method_return %}
    }
