
    /**
{% block phpdoc_method_header %}
     * Exibe os dados da entidade {{ entity }}.
    * @param Id $id da Entidade mapeada
    * @return Object View para renderização
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_show")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function showAction($id)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();
    $entity = $em->getRepository($this->addressRepository)->find($id);
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
    return [
        'entity' => $entity
    ];
{% else %}
    return $this->render($this->addressRepository . ':show.html.twig', [
        'entity' => $entity
    ]);
{% endif %}
{% endblock method_return %}
    }
