    /**
{% block phpdoc_method_header %}
     * Edita a entidade {{ entity }}.
    * @param Id $id da Entidade mapeada
    * @param Request $request Entidade mapeada
    * @return Object View para renderização
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_update")
     * @Method("PUT")
     * @Template("{{ bundle }}:{{ entity }}:edit.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function updateAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
    $em = $this->getDoctrine()->getManager();
    $entity = $em->getRepository($this->addressRepository)->find($id);
    $editForm = $this->get('core.form')->createForm($entity, $this->updateRoute, 'PUT', new {{ entity }}Type());
    $editForm->handleRequest($request);
    if ($editForm->isValid()) {
        $em->flush();
        $this->get('session')->getFlashBag()->add('success', 'Alteração realizada com sucesso.');
        return $this->redirect($this->generateUrl('{{ entity }}'));
    } else {
        return $this->render($this->addressRepository . ':edit.html.twig', [
            'entity' => $entity,
            'errors' => $editForm->getErrors(true),
            'edit_form' => $editForm->createView()
        ]);
    }
{% endblock method_body %}
    }
