            
            {%- for action in record_actions %}
                {%- if action == "show" %}

                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Visualizar"><i class="fa fa-file-text-o"></i></a>
                
                {%- elseif action == "edit" %}
                    
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Alterar"><i class="fa fa-pencil"></i></a>
                
                {%- elseif action == "delete" %}
                    
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Excluir"><i class="fa fa-trash-o"></i></a>
                
                {%- endif %}
            {%- endfor %}
                    