{% if ('edit' in actions) and (not hide_edit) %}

                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" class="btn btn-primary">
                            Editar
                        </a>

{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
                        
{% endif %}

                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-primary">Voltar</a>
